.secondarySideBar {
    width: 250px;
    border-right: white solid 1px;
    background: #333333;
}

.secondarySideBar .iconList {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 0;
    justify-content: end;
}

.secondarySideBar h3 {
    margin-top: -8px;
}

.secondarySideBar ul {
    list-style: none;
    padding: 0;
}

.secondarySideBar a {
    color: rgba(255, 255, 255, 0.87);
    text-align: left;
}
.secondarySideBar a:hover {
    color: rgba(255, 255, 255);
}

.secondarySideBar .iconList li {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    padding: 3px;
    border-radius: 3px;
}